* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==================
IT BERIEST STYLING
======================*/
.beries {
    background: #1D1D1D;
    color: white;
    display: flex;
    max-height: 220px;
    /* align-items: center; */
    overflow: hidden;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.beries .beries__content {
    padding: 10px 50px;
}

.beries h2 {
    line-height: 2.5;
    font-weight: 800;
    font-size: 2rem;

}

.beries p {
    margin-bottom: 15px;
}

.beries button {
    padding: 5px;
    text-transform: capitalize;
    background: #1D1D1D;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.09rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.beries .beries_img {
    /*height: 0px;
    */
    width: 1000px;
    height: 300px;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

.beries .beries_img img {
    width: 100%;
    height: 100%;
}


/*
==================
ABOUT ME STYLING
======================
*/

.about-me {
    display: grid;
    place-items: center;
}

.about-me .about__me {
    /* border: 2px solid red; */
    text-align: center;
    width: 720px;
    padding: 20px 50px;
}

.outline {
    padding: 10px;
    border: 4px solid #000;
    width: 180px;
    margin: 50px auto;
    text-align: center;

}

.about-me-explore {
    border-top: none;
    border-bottom: none;
}


/* 
****************
SERVICES
****************** 
*/
.services {
    /* border: 2px solid red; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    max-width: 900px;
    /* gap: 20px; */

}

.services div p {
    margin-top: 10px;
}

.service1,
.service3,
.service2 {
    padding: 20px;
    position: relative;
    /* max-width: ; */
}

.icon {
    /* border: 2px solid red; */
    position: absolute;
    z-index: -1;
    width: 55px;
    height: 55px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.service3 {
    grid-column: span 2;
    margin: 0 auto;
    max-width: 450px;
    /* border: 2px solid red; */
}

.text-detai {
    /* border: 2px solid green; */
    margin-left: 30px;
    margin-top: 30px;
}




/* SKills  */



.present-skills {
    max-width: 800px;
    /* border: 2px solid green; */
    margin: 0 auto;
}

.overall {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    /* border: 2px solid red; */


}

.overall div {
    margin-top: 30px;
    /* border: 2px solid red; */
    max-width: 120px;
}

.overall div p {
    margin-top: 10px;
}